header .navbar-header button.noti-icon span.badge {
    -webkit-animation: not-blink 2.1s cubic-bezier(.65, .815, .735, .395) infinite !important;
    animation: not-blink 2.1s cubic-bezier(.65, .815, .735, .395) infinite !important;
}

.notification-show {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
    width: 23rem;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
label{
    font-weight: bold!important;
}

.notification-show:before {
    content: "";
    border: 10px solid transparent;
    border-left-color: #fff;
    border-top-color: #fff;
    position: absolute;
    border-radius: 3px;
    right: 15px;
    top: -8px;
    /*-webkit-box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, .3);
    box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, .3);*/
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1002
}

.notification-show .notification-time {
    font-size: 12px;
    color: #919aa3
}

.breadcrumb.breadcrumb-title{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px
}


/*datatables custom style*/
.dt-buttons {
    display: inline-block;
    margin-bottom: 15px;
    padding-top: 5px;
}

.dt-buttons button {
    background: #1976d2 none repeat scroll 0 0;
    color: #fff;
    border-radius: 5px!important;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 7px 15px;
}

.dt-buttons button:hover {
    background: #2f3d4a none repeat scroll 0 0;
    color: #fff;
}
.dataTables_wrapper {
    padding-top: 10px;
}

.dataTables_info,
.dataTables_length {
    display: inline-block;
}

.dataTables_length {
    margin-top: 10px;
}

.dataTables_filter {
    float: right;
    margin-top: 10px;
}

.dataTables_filter input {
    background-color: transparent;
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-position: center bottom, center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin-left: 10px;
    transition: background 0s ease-out 0s;
}

.dataTables_filter input:focus {
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    outline: medium none;
    transition-duration: 0.3s;
}


/*preloder*/
/*preloader */

.la-anim-1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    background: #626ed4;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    pointer-events: none;
}

.la-anim-1::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: #626ed4;
    box-shadow: 0 0 15px #02a499, 0 0 5px #02a499;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.2s, box-shadow 2s 4s;
    transition: opacity 0.2s, box-shadow 2s 4s;
    -webkit-transform: rotate(2deg) translateY(-2px);
    transform: rotate(2deg) translateY(-2px);
}

.la-anim-1.la-animate {
    z-index: 100;
    opacity: 0;
    -webkit-transition: -webkit-transform 2s ease-in, opacity 1s 2s;
    transition: transform 2s ease-in, opacity 1s 2s;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.la-anim-1.la-animate::after {
    box-shadow: 0 0 3px #626ed4, 0 0 1px #626ed4;
    opacity: 1;
}

/*table{*/
/*    !*table-layout: fixed!important;*!*/
/*    word-break: break-word!important;*/
/*}*/
table.dataTable,
table.dataTable th,
table.dataTable td{
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}

.dataTables_info,
.dataTables_length {
    display: inline-block;
}

.dataTables_length {
    margin-top: 10px;
}

.dataTables_length select {
    background-color: transparent;
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-position: center bottom, center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    border: 0 none;
    padding-bottom: 5px;
    transition: background 0s ease-out 0s;
}

.dataTables_length select:focus {
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    outline: medium none;
    transition-duration: 0.3s;
}

/*card*/
.card {
    position: relative;
    margin-bottom: 24px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.card-topline-yellow {
    border-top: 3px solid #F39C12;
}

.card-topline-aqua {
    border-top: 3px solid #00C0EF;
}

.card-topline-lightblue {
    border-top: 3px solid #3C8DBC;
}

.card-topline-green {
    border-top: 3px solid #00A65A;
}

.card-topline-red {
    border-top: 3px solid #DD4B39;
}

.card-topline-purple {
    border-top: 3px solid #ad5bff;
}

.card-topline-gray {
    border-top: 3px solid #ddd;
}
.card-head {
    border-radius: 2px 2px 0 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    /* text-transform: uppercase; */
    color: #3a405b;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
}

/*profile card */
.profile-userpic{
    text-align: center;
    align-content: center;
    align-items: center;

}
.profile-userpic img {
    margin: 0px auto!important;
    width: 130px;
    height: 130px;
    padding: 3px;
    border: 3px solid rgb(210, 214, 222);
    border-radius: 50% 50% 50% 50%;
}

.profile-usertitle {
    text-align: center;
    margin-top: 5px;
}

.profile-usertitle-name {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #3a405b;
}
.profile-usertitle-email {
    color: #777777;
    font-size: 12px;
    margin-bottom: 5px;
}
.profile-usertitle-contact {
    color: #777777;
    font-size: 12px;
    margin-bottom: 5px;
}


@media only screen and (max-width:576px) {
    .notification-show {
        min-width: 280px;
        left: -30px;
        right: auto;
        width: auto
    }

    .notification-show:before {
        right: calc(50% - 40px)
    }
}










@-webkit-keyframes not-blink {
    0% {
        opacity: 1
    }

    70% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes not-blink {
    0% {
        opacity: 1
    }

    70% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}